commands:
    200-install-mongo-ext:
        command: "yes '' | pecl install mongo"
        ignoreErrors: true
    300-composer-update:
        command: "export COMPOSER_HOME=/root && composer.phar self-update -n"
container_commands:
    200-copy-apache-config:
        command: "cp .ebextensions/apache/zapplication.conf /etc/httpd/conf.d/zapplication.conf"
    300-run-composer:
        command: "composer.phar install --no-dev --optimize-autoloader --prefer-dist --no-interaction"
    400-clear-cache:
        command: "php app/console cache:clear --env=$APP_ENV --no-debug"
    425-install-assets:
        command: "php app/console assets:install --env=$APP_ENV --no-debug"
    450-dump-assets:
        command: "php app/console assetic:dump --env=$APP_ENV --no-debug"
    600-update-cache:
        command: "source .ebextensions/bin/update-cache.sh && source .ebextensions/bin/update-cache.sh"
    700-remove-dev-app:
        command: "rm web/app_dev.php"
    800-run-cron:
        command: "crontab .ebextensions/cron/main"
    900-notify-deployment:
        command: "php app/console newrelic:notify-deployment --env=$APP_ENV --no-debug --user=eb"
