commands:
    200-install-mongo-ext:
        command: "yes '' | pecl install mongo"
        ignoreErrors: true
    300-composer-update:
        command: "export COMPOSER_HOME=/root && composer.phar self-update -n"
container_commands:
    100-install-nodejs:
        command: "source .ebextensions/bin/install-nodejs.sh"
    200-copy-apache-config:
        command: "cp .ebextensions/apache/zapplication.conf /etc/httpd/conf.d/zapplication.conf"
    300-run-composer:
        command: "composer.phar install --no-dev --optimize-autoloader --prefer-dist --no-interaction"
    400-install-npm-packages:
        command: "npm install"
    425-install-bower-packages:
        command: "bower install --allow-root"
    450-run-grunt:
        command: "grunt production"
    550-dump-assets:
        command: "php app/console assetic:dump"
    600-update-cache:
        command: "source .ebextensions/bin/update-cache.sh && source .ebextensions/bin/update-cache.sh"
    700-remove-dev-app:
        command: "rm web/app_dev.php"
    800-run-cron:
        command: "crontab .ebextensions/cron/main"
    900-notify-deployment:
        command: "php app/console newrelic:notify-deployment --user=eb"
